# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=cloud1c

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production

# 1C Enterprise
ONEC_PATH=C:\Program Files\1cv8\8.3.25.1549\bin\1cv8.exe
ONEC_RESOLUTION_CODE=КодРазрешения

# 1C RAC (Remote Administration Client)
RAC_PATH=C:\Program Files\1cv8\8.3.25.1549\bin\rac.exe

# 1C Cluster Settings
CLUSTER_ID=9cb5e12a-6233-42fa-8512-d2b59efdc265
CLUSTER_ADDRESS=192.168.1.104
CLUSTER_DBMS=PostgreSQL
CLUSTER_DB_SERVER=192.168.1.72
CLUSTER_DB_USER=postgres
CLUSTER_DB_PASSWORD=SuperPass123
CLUSTER_LOCALE=ru_RU

# 1C Default User (для доступа к базе после создания)
CLUSTER_DEF_USER=Admin
CLUSTER_DEF_PWD=123456789

# Server
PORT=3000
CORS_ORIGIN=http://localhost:5173

# Environment
NODE_ENV=development

# Super Admin (будет создан автоматически при первом запуске)
# Email: alex.galitsky.kd@gmail.com
# Password: hflj!e7SAd6ghd552asd
